<footer class="bg-dark text-light pt-5 page-footer mt-3">
    <div class="container px-5">
        <div class="row">
            <div class="col-6 col-lg-4">
                <h3 class="fw-bold">ɅеV:</h3>
                <p class="pt-2">140500 Московская область, город Луховицы.</p>
                <p class="mb-2">Работы выполняются в Москве и в регионах Московской области.</p>
                <p>Телефон: +79999999999</p>
            </div>
            <div class="col">
                <h4>Menu:</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1"><a
                            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="{% url 'home' %}">Home;</a></li>
                    <li class="py-1">Catalog;</li>
                    <li class="py-1"><a
                            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="{% url 'company_info' %}">General information;</a></li>
                    <li class="py-1"><a
                            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                            href="{% url 'cooperation_info' %}">Additionally information:</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Radius</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1">Moscow region, Moscow.</li>
                </ul>
            </div>
            <div class="col">
                <h4>Type of work</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1">"Decorative plaster"</li>
                    <li class="py-1">"Art-Beton"</li>

                </ul>
            </div>
            <div class="col-6 col-lg-3 text-lg-end">
                <h4>Social Media Links</h4>
                <div class="social-media pt-2">
                    <a href="#" class="text-light fs-2 me-3"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-light fs-2 me-3"><i class="bi bi-pinterest"></i></a>
                    <a href="#" class="text-light fs-2 me-3"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-light fs-2"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-sm-flex justify-content-between py-1">
            <p>2024 © ɅеV. All Rights Reserved. </p>
            <p>
                <a href="#" class="text-light text-decoration-none pe-4">Terms of use</a>
                <a href="#" class="text-light text-decoration-none"> Privacy policy</a>
            </p>
        </div>
    </div>
</footer>