{% extends 'base.html' %}
{% load navbar_catalog %}
{% load static %}

{% block title %}Общая информация, цены/услуги, сотрудничество{% endblock %}

{% block content %}
<div class="container">
    {% navbar_catalog %}
    <h1 style="text-align: center; font-style: italic;">Общая информация, цены/услуги, сотрудничество</h1>

    <div class="card">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center; font-style: italic;">"Общая информация"</h5>
                    <p class="card-text" style="text-align: justify;">  Приветствую всех!
                        Меня зовут Лев Николаевич Гуськов, и я рад приветствовать Вас на моей страничке в интернете. С
                        2010 года я занимаюсь декоративной штукатуркой и арт-бетоном, стремясь придать каждому
                        произведению уникальность и красоту. Мой путь в искусстве начался много лет назад, и
                        за это время я успел поработать в различных компаниях и организациях, где приобрел ценный опыт и
                        знания. Каждый проект, над которым я работаю, становится для меня новым вызовом и возможностью
                        проявить свое мастерство. Кроме декоративной штукатурки и арт-бетона, я также занимаюсь
                        живописью. Мои картины отражают мои эмоции и внутренний мир, я стараюсь передать через них
                        красоту и гармонию. Еще одним аспектом моего творчества является разрисовка одежды специальными
                        нестираемыми красками. Это позволяет мне создавать уникальные наряды, которые подчеркивают
                        индивидуальность и стиль каждого человека. И, конечно, мои эксклюзивные работы из дерева. Я
                        люблю работать с этим материалом, воплощая в жизнь различные идеи и концепции. Каждая моя
                        деревянная работа - это отдушину моего творчества и вдохновения. Я горжусь тем, что могу
                        делиться своими произведениями с вами и приносить радость и восторг своим заказчикам. Спасибо,
                        что вы здесь сегодня, и надеюсь, что мои работы заставят ваше сердце замирать от красоты и
                        таланта.
                        С любовью и творческим вдохновением, Лев Николаевич Гуськов!</p>
                    <h5 class="card-title" style="text-align: center; font-style: italic;">"Цены и услуги"</h5>
                    <p class="card-text" style="text-align: center;">Выезд, подбор материала со скидкой от 10% до 30% и
                        расчет стоимости работ -
                        бесплатно.</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Услуга</th>
                            <th>Цена</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Декоративная штукатурка</td>
                            <td>Цена по запросу</td>
                        </tr>
                        <tr>
                            <td>Арт-бетон</td>
                            <td>Цена по запросу</td>
                        </tr>
                        <tr>
                            <td>Живопись</td>
                            <td>Цена по запросу</td>
                        </tr>
                        <tr>
                            <td>Разрисовка одежды</td>
                            <td>Цена по запросу</td>
                        </tr>
                        <tr>
                            <td>Работы из дерева</td>
                            <td>Цена по запросу</td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 class="card-title" style="text-align: center; font-style: italic;">"Информация для
                        сотрудничества"</h5>
                    <p class="card-text " style="text-align: justify;">Открыт для сотрудничества с "Дизайнерскими студиями", "Арт-агентствами",
                        "Интернет-маркетинговые агентства", "Онлайн-галереями и платформами для художников, и
                        дизайнеров", "Мастер-классы и образовательные платформы", "Интерьерными и архитектурными
                        организациями", а также с производителями декоративной отделки, их комплектующими, для
                        продвижения и рекламы продукции.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}