{% extends 'base.html' %}
{% load navbar_catalog %}
{% load static %}

{% block title %}Дополнительное творчество{% endblock %}

{% block content %}
<div class="container">
    {% navbar_catalog %}
    <h1 style="text-align: center; font-style: italic;">Дополнительное творчество</h1>

    <div class="card">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/kartinki.jpg' %}" class="card-img-top" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center; font-style: italic;">"Набор из 15 маленьких картин
                        на разную
                        тематику"</h5>
                    <p class="card-text" style="text-align: justify;">
                        1. Одинокий фонарь в ночи освещает мост: На темном фоне виден одинокий фонарь, который
                        бросает свет на извилистый мост, создавая загадочную атмосферу.
                        2. Ангел днем стоит на горе и светит черное солнце: Ангел стоит на вершине горы, окруженный
                        ярким светом, который освещает черное солнце, создавая контраст между светом и тьмой.
                        3. Видны три планеты: На заднем плане видны три красочные планеты, сверкающие на фоне
                        звездного неба, создавая космическую панораму.
                        4. Летит дирижабль над городом около башни: В небе летит дирижабль, пролетая над городом с
                        высокой башней, создавая впечатление легкости и воздушности.
                        5. Растения на фоне планеты: На заднем плане видны экзотические растения, расположенные на
                        фоне огромной планеты, создавая образ удивительного природного ландшафта.
                        6. Горы и ночь: Темные силуэты гор на фоне ночного неба, усыпанного звездами, создают
                        атмосферу загадочности и величия природы.
                        7. Мельница и домики на желтом фоне: На ярком желтом фоне изображены мельница и уютные
                        домики, создающие ассоциации с деревенской местностью.
                        8. Белая и черная лошадь прижимаются друг к другу: Два коня - белый и черный, стоят рядом,
                        прижимаясь друг к другу, символизируя единство и гармонию.
                        9. Фон пергамент с красным цветком и черными масками: На текстурном фоне пергамента виден
                        красный цветок и несколько черных масок, создавая загадочный и таинственный образ.
                        10. Бирюзовые, синие, розовые маски: Несколько ярких масок разных цветов - бирюзовые, синие
                        и розовые, создают контраст и разнообразие в композиции.
                        11. На сером фоне васильки: На сером фоне выделяются нежные васильки, создавая образ
                        спокойствия и красоты природы.
                        12. Четыре туза: Представлены четыре туза в стиле колоритных игральных карт, символизирующие
                        удачу и возможности.
                        13. Космическая планета: Огромная космическая планета, окруженная звездами и галактиками,
                        создает впечатление бескрайнего космоса.
                        14. Космический город: Футуристический город в космосе, с высокими зданиями и летающими
                        транспортными средствами, создает образ будущего мира.
                        15. Разноцветные пузыри на бирюзовом фоне: На ярком бирюзовом фоне плавают разноцветные
                        пузыри, создавая игривую и веселую атмосферу.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}